In [ ]:
#8. Sets â€“ Create a set of numbers with duplicates and print it.
Num = {1,3,2,1,34,45,32,34}
print("The number set is", Num)

In [1]:
#Q Person1 is 21 years old, Person2 is 43 years old and Person3 is 19 years old. Define variables for the ages, calculate the mean with
#them and save the result in another variable. Check which type the result has. Can you round the result to 2 decimals?

#define ages
Person1_age = 21
Person2_age = 43
Person3_age = 19

mean_age = (Person1_age + Person2_age + Person3_age) / 3  #calculate mean
print(mean_age)
print(type(mean_age))                   #find type of variable mean_age
meanage_round = round(mean_age,2)       #round the result to 2 decimals
print(meanage_round)                    #print the rounded mean

27.666666666666668
<class 'float'>
27.67

In [ ]:
#Q Person1 is 21 years old, Person2 is 43 years old and Person3 is 19 years old. Define variables for the ages, calculate the mean with
#them and save the result in another variable. Check which type the result has. Can you round the result to 2 decimals?

import statistics
#define ages

person_listage = [21,43,19]

mean_age = statistics.mean([21,43,19])
print(mean_age)
print(round(mean_age,2))

In [ ]:
#7. Dictionaries â€“ Create a dictionary for a student and print the grade.
student = {
    "name": "sruthi",
    "age": 30,
    "grade": "B"
}

print("Student grade:", student["grade"])

In [ ]:
#6. Tuples â€“ Create a tuple with your birth year and month, then print them in a sentence.
Birth_date = (1995,"july")
print(f'I was born in  {Birth_date[1]}  {str(Birth_date[0])}')

In [ ]:
#5. Lists â€“ Create a list of 5 favorite foods and print the third item.
fav_foods = ["Biryiani","Pasta","Pizza","Burger","Rice"]
print("The third item is:",fav_foods[3])

In [ ]:
#4. Booleans â€“ Create a boolean variable is_sunny; if True, print a message.
is_sunny = True
if is_sunny:
    print("Today is sunny day!")

In [ ]:
#3. Strings â€“ Store your name in a variable and print a greeting.
name = "Sruthi Thulasi Das"
print(f'Hello {name} !')

In [ ]:
#2. Floats â€“ Store a temperature in Celsius and convert it to Fahrenheit.
celsius = 28
fahrenheit = (celsius * 9/5) + 32
print("The Temperature in Fahrenheit is", fahrenheit)

In [ ]:
#1. Integers â€“ Store your age in a variable and print it with a message.
age = 30
print("My Age is", age)

Part3 â€“ Data Types

In [ ]:
#Q3 Update Variable â€“ Create a variable score = 0, increase it by 10, and print.
x = 0
Result = x + 10
print("The result is", Result)

In [ ]:
#Q2 Swapping Variables â€“ Swap values of two variables without a third variable.

x = 3
y = 2
x,y = y,x
print(x,y)

In [ ]:
#Q1 Multiple Variables â€“ Assign values to three variables (a, b, c) in one line and print them.
a,b,c = 2,2,2
print("The value of a,b,c is", a,b,c)

Part2 â€“ Assigning Values

In [ ]:
#Q5 Write a program that checks if a number is greater than 10 and prints a message if true.
x=15
if(x>10):
    print("The number is greater than 10")

In [ ]:
#Q4 Write a program that adds two numbers with comments explaining each line.
x = 20  #add a variable x and assign a value 20
y = 20  #add a variable y and assign a value 20
Result = x + y
print("The sum of two numbers", Result) #Print the sum of two numbers

In [ ]:
#Q3 Assign a number to a variable, multiply it by 2, print the result.
x = 5
Result = x*2
print("The answer is", Result)

In [ ]:
#Q2 Simple Math â€“ Use Python to calculate ((10 + 5) * 3) / 2.
x = ((10 + 5) * 3) / 2
print("The value of x is:", x)

In [ ]:
#Q1 Hello World â€“ Write a Python program that prints `Hello, Python!`.
print("Hello, Python!")

In [ ]:
#1.When does the distinction between using single and double quotes to build a string matter?
#The distinction between using single (') and double (") quotes matters when your string contains any other quotes.

In [ ]:
#2.Fix the following string to be considered valid and not throw an error when run.
#'You already told me not to do this, but I don't want to listen.'


#The problem is that the string uses single quotes to start and end, but it also contains a single quote  inside: don't. This causes a syntax error.

In [24]:
#3 Create a variable that holds a string of your name.
#4 Create another variable that holds a string of your best friend's name.

name = "sruthi"
best_frd = "Noel"
print(name)
print("my best friend is",best_frd)

sruthi
my best friend is Noel

In [23]:
#5.Now, use string concatenation (e.g. addition) to add 'Hello, ' before your name.
name = "sruthi"
greeting = "Hello " + name
print(greeting)

Hello sruthi

In [22]:
#6.Given the string 'Hello, Sean', replace each of the letter 'e''s with a 't'.
txt = 'Hello, Sean'
new_text = txt.replace('e', 't')
print(new_text)

Htllo, Stan

In [21]:
#Use the .split() method on the string 'Hello, Sean' to split it by the comma (',').
#What happens if you split by a comma and a space (', ')?
text = 'Hello, Sean'
result = text.split(', ')
print(result)

['Hello', 'Sean']

In [20]:
#Write a Python program to get a single string from two given strings, separated by a space and swap the first two characters of each
#string.
#Sample String : 'abc', 'xyz'
#Expected Result : 'xyc abz'

# Given strings
str1 = 'abc'
str2 = 'xyz'

# Swap the first two characters
new_str1 = str2[:2] + str1[2:]
new_str2 = str1[:2] + str2[2:]

# Combine with a space
result = new_str1 + ' ' + new_str2

print(result)

xyc abz

If_Statement

In [25]:
#1.Write an if statement to check if a number is smaller than 100.

x = int(input("Enter the number"))
if x<100:
    print("The number is smaller than 100")

The number is smaller than 100

In [ ]:
#2.Write some code that accepts a user inputted number. It checks to see if that number is positive, and if it is it adds 50 to the
#number. Then print the number.
Num = int(input("Enter the number"))
if Num>0:
    Num+=50
    print("The result is",Num)

Elif Else Questions

In [ ]:
#Q1.Write an if-elif-else statement that does the following:
# Prints "This is a single digit number." if x is a single digit number
# Prints "This is a double digit number." if x is a double digit number
# Prints "This is a big number." otherwise.
x = int(input("Enter the number"))
if(x>=-9 and x <=9):
    print("This is a single digit number")
elif(x>=-99 and x<=-10) or (x>=10 and x<=99):
    print("This is a double digit number")
else:
    print("This is a big number")

In [ ]:
#2.Write a if-else statement which print the value of variable a is 10, else print its not
a = int(input("Enter the number"))
if(a==10):
    print("The value of variable a is 10")
else:
    print("The value of variable a is not 10")

And Or Not Questions

In [26]:
#1.Write the condition in Python in a single statement: if x is between 20 and 30 print x.

x = int(input("Enter the number"))
if(x>20 and x<30):
    print("The given number is between 20 and 30")
else:
    print("The given number is not between 20 and 30")

The given number is between 20 and 30

In [ ]:
#2.Write the following condition in two ways using Python: if x is greater than 10 print x.
x = int(input("Enter the number"))
if x > 10:
    print(x)
#if x > 10: print(x)

In [ ]:
#3.Write the following condition in Python: if x isn't a positive number print x.
x = int(input("Enter the number"))
if x <= 0:
    print(x)

In [ ]:
#4.Write the following condition in Python: if x is between 1 and 50 except the numbers between 25 to 30 print x.
x = int(input("Enter the number"))
if 1 <= x <= 50 and not (25 <= x <= 30):
    print(x)

In [ ]:
# 1ï¸âƒ£ Movie Theater Schedule
# A movie theater plays movies from 10 AM to 10 PM.
# At 4 PM, they clean the hall, so no movie plays.
# On Monday and Tuesday, the theater is closed.
# Write a program that prints the day and the movie start time,
# except 4 PM where it should print "Cleaning time!!!".

days = ["monday","tuesday","wednesday","thursday","friday","saturday","sunday"]

for i in days:
    if(i == "monday" or i == "tuesday"): 
        print("The theater is closed")
        
    else:
        hour = 10
        while(hour <= 22):    
            if(hour == 16):
                print("cleaning time!!")
            else:
                print(f"{i} and the movie starts time {hour} o'clock ")
            hour+=1

In [ ]:
days = ["monday","tuesday","wednesday","thursday","friday","saturday","sunday"]

for i in days:
    if(i == "monday" or i == "tuesday"): 
        print("The theater is closed")
    else:
        for hour in range(10,23):
            if(hour==16):
                print("cleaning time!!")
            else:
                if(hour<=12):
                    mrd = "Am"
                    print(f"{i} and the movie starts time {hour} {mrd} ")
                else:
                    mrd = "Pm"
                    print(f"{i} and the movie starts time {hour} {mrd} ")

While Loop

In [ ]:
#1.Write a while loop so that the value printed out in total is:
#The sum of the numbers 1 through 9,
x,sum1=1,0
while x<=9:
    sum1+=x
    x+=1
print(sum1)

In [ ]:
#The sum of the numbers 2 through 9,
x,sum1=2,0
while x<=9:
    sum1+=x
    x+=1
print(sum1)

In [ ]:
#The sum of every odd number starting with 3 ending with 13 
# (hint: you'll need to increment x differently),
#  after the loop is executed.
sum1=0
x=3
while x<=13:
    if x%2!=0:
        sum1+=x
        x+=1
    else:
        x+=1
print("The sum of odd numbers",sum1)

In [ ]:
#same question,but using for loop
sum1 = 0
for x in list(range(3,14,2)):
    sum1+=x
print(sum1)

In [ ]:
# Write a Python program to count the number of even and odd numbers in a series of numbers
# Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) and Expected Output:
# Number of even numbers : 4
# Number of odd numbers : 5
x = 1
odd =[]
odd=[]
while x<=9:
    if x%2==0:
        odd.append(x)
        x+=1
    else:
        odd.append(x)
        x+=1
print("The even set",odd)
print("The number of even numbers",len(odd))
print("The odd set",odd)
print("The number of odd numbers",len(odd))

In [ ]:
#same question for loop
odd=[]
odd=[]
for x in range(1,10):
    if x%2==0:
        odd.append(x)
        x+=1
    else:
        odd.append(x)
        x+=1
print(f"The even set is {odd} and the count is {len(odd)}")
print(f"The odd set is {odd} and the count is {len(odd)}")

In [ ]:
#Infinite Loop Question
# The following cell has code containing an infinite loop in it. Change it so that when run, it will stop. If you try something and nothing is printed,
# then an infinite loop is probably still there. To stop the notebook from calculating on forever, navigate to the top bar, click on the Kernel tab,
# and click on Interrupt. This forcibly stops Python from executing.

total, x = 0, 1
while x <= 10:
    total += x
    x += 1
print(total)

For Loop

Write a for loop so that the value printed out in total is:

In [ ]:
#The sum of the numbers 1 through 9,
sum1 = 0
for i in range(1,10):
    sum1+=i
print(sum1)

In [ ]:
#The sum of the numbers 2 through 9
sum1=0
for i in range(2,10):
    sum1+=i
print(sum1)

In [ ]:
#The sum of every other number starting with 3 ending with 13 (hint: you'll need to increment x differently)
sum1=0
for x in range(3,14,2):
    sum1+=x
print(sum1)

In [ ]:
#You have a list with all continents ( continents = ["Africa", "Antarctica", "Asia", "Australia and Oceania", "Europe", "North America",
#"South America"] ). Can you print only the continents from the southern hemisphere?

continents = ["Africa", "Antarctica", "Asia", "Australia and Oceania", "Europe", "North America","South America"]
sh = ["Africa","Antarctica","Australia and Oceania","South America"] 
sh =[i for i in continents if i in sh ]
print("These are the continents from the southern hemisphere",sh)

In [ ]:
#Write a Python program to construct the following pattern, using a nested for loop.

for i in range(1,6):
    for j in range(i):
        print("*", end=" ")
    print()
for i in range(4,0,-1):
    for j in range(i):
        print("*", end=" ")
    print()

Continue Questions

Write a while loop so that total has the sum of the numbers 10 through 30, without 15 or 25. Make sure you do this without
subtracting those numbers off at the end. Things to ask yourself to help answer this question:

Where, in the loop, does it decide if it should skip a number to be added?
How can you change the condition that so 15 and 25 are skipped?
Can you do 2 things in a single if statement?

In [27]:
sum1,x=0,10
while(x<=30):
    if x==15 or x==25:
        x+=1
        continue
    else:
        sum1+=x
        x+=1
print(sum1)

380

Break Questions

In [28]:
#To make the break-method more vivid change the code above from the break section so that the while-loop breaks after a total
#of 15.

sum1,x=0,10
while(x<=30):
    if sum1>15:
        break
    elif x==15 or x==25:
        x+=1
        continue
    else:
        sum1+=x
        x+=1
print(sum1)

21

In [29]:
# 2. Take the code above and change it so that the value of x that makes total greater than 25 is printed as well.

sum1,x=0,10
while(x<=30):
    if sum1>25:
        break
    elif x==15 or x==25:
        x+=1
        continue
    else:
        sum1+=x
        x+=1
print(f"The sum is {sum1} and value of x is {x}")

The sum is 33 and value of x is 13

In [ ]:
# 3. Write a loop that adds the numbers 1 through 50. At some point the total value will be greater than 100. 
# Have the loop print the number that makes the total greater than 100 and print the message "The sum exceeded the max value of 100."

In [30]:
sum1 =0
for i in range(1,51):
    sum1+=i
    if sum1 > 100:
        print(f"The sum exceeded the max value of 100 at number {i}")
        break

The sum exceeded the max value of 100 at number 14

A little challenge

You work from Monday to Friday from 9 to 5. Every day your lunch break is at 12 o'clock. So you want to write code that prints the day
of the week and the time. Except for 12 o'clock where the code should print 'Lunch break!!!' and it should skip saturday and sunday.
days = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

It should look similar to:
It's monday and 9 o'clock
It's monday and 10 o'clock
It's monday and 11 o'clock
Lunch Break!!!
It's monday and 13 o'clock
It's monday and 14 o'clock
It's monday and 15 o'clock
It's monday and 16 o'clock
It's monday and 17 o'clock

In [ ]:
days = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']
for i in days:
    if i == "saturday" or i == "sunday":
        continue
    else:
        for hour in range(9,18):
            if hour ==12:
                print("lunch Break!!")
                continue
            else:
                print(f"Its {i} and {hour} o'clock")

Restaurant Daily Schedule
Open Monday to Saturday (closed Sunday â†’ continue)
Kitchen closed for cleaning at 3 PM â†’ skip serving food (continue)
If a fire alarm goes off at 5 PM â†’ stop the day (break)
If itâ€™s a holiday, leave the schedule blank but still count the day (pass)

In [ ]:
days = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']
holidays = ["false","true","false","false","false","false","false"]
fire_alarm = ["true","false","false","false","true","false","false"]
for i in range(len(days)):
    day = days[i]
    if day == "sunday":
        print("It is sunday and today is closed")
        continue
    if holidays[i] == "true":
        print("Today is Holiday")
        pass
        continue
    print(f"Opening restaurant on day {day}")
    for hour in range(10,22):
            if hour == 15:
                print("skip serving food - kitchen cleaning")
                continue
            elif hour == 17 and fire_alarm[i] == "true":
                 print("stop the day - fire alarm is ON")
                 break
            else:
                 print(f"serving food at {hour}")

In [ ]:
# Write a program that prints all the prime numbers between 1 and 50 using a loop.
# For each number, check if it is prime and print it only if it is.
prime = []
not_prime = []
for x in range(1,51):
    if x<=1:
        not_prime.append(x)
    else:
        is_prime = True
        for i in range(2,int((x**0.5) +1)):
            if x%i == 0:
                is_prime = False
                break
        if is_prime:
            prime.append(x)
        else:
            not_prime.append(x)
    
print(prime)
print(not_prime)

Question:
Given a list of numbers:
[1, 2, 3, 4, 5, 6]
Create a new list that contains only the even numbers.

In [ ]:
list1 = [1, 2, 3, 4, 5, 6]
list1 =[x for x in list1 if x%2 ==0]
print(list1)

Challenge 2: Tuple â€“ Unpack and Print

Question:
You have the tuple:
person = ("Alice", 25, "Engineer")
Unpack it and print each item in a descriptive sentence like:
Name: Alice, Age: 25, Job: Engineer

In [ ]:
person = ("Alice",25,"Engineer")
print(f"Name:{person[0]},Age:{person[1]},job:{person[2]}")

Challenge 3: Set â€“ Remove Duplicates

Question:
Given the list:
[1, 2, 2, 3, 4, 4, 5]
Use a set to remove the duplicates and print the result as a list.

In [ ]:
list1 = [1, 2, 2, 3, 4, 4, 5]
list1 = set(list1)
print(list1)
list1 = list(list1)
print(list1)

ðŸ§© Challenge 4: Dictionary â€“ Word Count

Question:
Given the sentence:
"hello world hello python"
Create a dictionary that shows how many times each word appears.

In [ ]:
sample = {}
sent = ["hello","world","hello","python"]
for i in sent:
    sample[i] = sample.get(i,0)+1
print(sample)

# sample = {} 
# list1 = ["hello", "world", "hello" ,"python"]
# for i in list1: 
#     sample[i] = list1.count(i) 
# print(sample)

ðŸ§© Challenge 5: Dictionary + Tuple â€“ Student Averages

Question:
Given a dictionary like:

students = {
    "Alice": (85, 90, 92),
    "Bob": (70, 75, 80),
    "Charlie": (88, 87, 85)
}


Calculate and print the average score for each student.

In [ ]:
students = {
    "Alice": (85, 90, 92),
    "Bob": (70, 75, 80),
    "Charlie": (88, 87, 85)
}
avg={}
for name,scores in students.items():
    average1 = sum(scores) / len(scores)
    avg[name] = average1
print(avg)

ðŸ§© Challenge 6: Combine â€“ Unique Words & Count

Question:
From this text:
"apple orange apple banana orange apple"

Get all unique words

Count how many times each word appears

Store the result in a dictionary

In [ ]:
text = ["apple","orange","apple","banana","orange","apple"]
set1 = set(text)
print(set1)
hmt={}
for i in set1:
    hmt[i]= text.count(i)
print(hmt)

Challenge 7: Tuple + Dictionary â€“ Products

Question:
Given a list of product tuples:
[("Laptop", 1000), ("Mouse", 25), ("Keyboard", 50)]
Create a dictionary where the key is the product name and the value is the price.

ðŸŽ¯ Your Tasks:

Convert this list into a dictionary where:

Key = product name

Value = (quantity, price)

Create another dictionary that calculates and stores the total value of each product in stock.

Formula: quantity Ã— price

Print both dictionaries.

In [ ]:
inventory = [
    ("Laptop", 10, 1000),
    ("Mouse", 50, 25),
    ("Keyboard", 20, 50),
    ("Monitor", 15, 300)
]

# Step 1: Convert to dict {product: (qty, price)}
stock = {}
for name, qty, price in inventory:
    stock[name] = (qty, price)

# Step 2: Calculate total value per product
total_value = {}
for name, (qty, price) in stock.items():
    total_value[name] = qty * price

print(stock)
print(total_value)

data = [
    ("Alice", ["math", "english", "history"]),
    ("Bob", ["math", "physics"]),
    ("Charlie", ["english", "art", "history"]),
    ("David", ["math", "english"]),
]

Using this data:

Create a dictionary where each subject is a key, and its value is a set of student names who take that subject.

From that dictionary, extract a list of tuples, where each tuple contains:

The subject name

The number of students taking it

The list should be sorted by the number of students in descending order.

In [ ]:
data = [
    ("Alice", ["math", "english", "history"]),
    ("Bob", ["math", "physics"]),
    ("Charlie", ["english", "art", "history"]),
    ("David", ["math", "english"]),
]
dicts={}
for name ,sub in data:
    for sub_nme in sub:
        if sub_nme not in dicts:
            dicts[sub_nme] = set()
        dicts[sub_nme].add(name)
print(dicts)

list1 = [(x,len(y)) for x,y in dicts.items()]
list1.sort(key=lambda x:x[1],reverse=True)
print(list1)

ðŸŸ¢ Level 1: Beginner Challenges (like your current one)
1. Build a subject-student dictionary

You're already doing this! Mapping subjects to sets of students.

2. Count how many subjects each student takes

Task:

data = [
    ("Alice", ["math", "english", "history"]),
    ("Bob", ["math", "physics"]),
    ("Charlie", ["english", "art", "history"]),
    ("David", ["math", "english"]),
]


ðŸ‘‰ Create a dictionary like this:

{
  "Alice": 3,
  "Bob": 2,
  ...
}

3. Find all students taking more than 2 subjects

Using the same data, extract a list of names where the number of subjects is more than 2.

Output:

['Alice', 'Charlie']

4. List all unique subjects (no duplicates)

Extract a list of all subjects mentioned in data, without duplicates.

Output:

['math', 'english', 'history', 'physics', 'art']

In [ ]:
dict4 = {'math': {'Bob', 'Alice', 'David'}, 'english': {'David', 'Alice', 'Charlie'}, 
 'history': {'Alice', 'Charlie'}, 'physics': {'Bob'}, 'art': {'Charlie'}}
dict_new={}
for sub,name in dict4.items():
    for i in name:
        if i not in dict_new:
            dict_new[i] = set()
        dict_new[i].add(sub)
dict_new=dict(sorted(dict_new.items()))
print(dict_new)
dict_count = {x:len(y) for x,y in dict_new.items()}
dict_count = dict(sorted(dict_count.items(),key=lambda x:x[1], reverse=True))
print(dict_count)
list_nme = [x for x,y in dict_count.items() if y >2]
print(list_nme)
list_uniq = list(set(dict4))
print(list_uniq)

ðŸŸ¡ Level 2: Intermediate Challenges
5. Reverse mapping: student list per subject (sorted alphabetically)

Use your subject-to-students dictionary, and produce a sorted list:

[('art', 1), ('english', 3), ('history', 2), ('math', 3), ('physics', 1)]

6. Find the subject(s) with the most students

Same dictionary â€” but only return the subject(s) that have the maximum number of students.

7. Group students by number of subjects they take

Output something like:

{
  3: ['Alice', 'Charlie'],
  2: ['Bob', 'David']
}

In [213]:
list12=[('art', 1), ('english', 3), ('history', 2), ('math', 3), ('physics', 1)]
list12.sort()
print(list12)
dict1 = dict(list12)
print(dict1)
dict12 = {x:y for x,y in dict1.items() if y == max(dict1.values())}
print(dict12)
dict6={}
for x,y in dict_count.items():
    if y not in dict6:
        dict6[y]=list()
    dict6[y].append(x)
print(dict6)

[('art', 1), ('english', 3), ('history', 2), ('math', 3), ('physics', 1)]
{'art': 1, 'english': 3, 'history': 2, 'math': 3, 'physics': 1}
{'english': 3, 'math': 3}
{3: ['Alice', 'Charlie'], 2: ['Bob', 'David']}

ðŸ”´ Level 3: Slightly Advanced
8. Subjects that only one student takes

Find all subjects that are taken by only one student.

Output:

['physics', 'art']

9. Students who share all subjects

Return students who take exactly the same subjects as another student. (For example, if two students both take ["math", "english"].)

10. Build a subject similarity map

Compare each pair of subjects and count how many students they have in common.

('math', 'english') â†’ 2 students
('math', 'history') â†’ 1 student
...

In [ ]:
data = {'math': {'Bob', 'Alice', 'David'}, 'english': {'David', 'Alice', 'Charlie'}, 
 'history': {'Alice', 'Charlie'}, 'physics': {'Bob'}, 'art': {'Charlie'}}
dict_new={}
for sub,name in data.items():
    for x in name:
        if x not in dict_new:
            dict_new[x]=set()
        dict_new[x].add(sub)
dict_new=dict(sorted(dict_new.items()))
print(dict_new)

[{'english', 'math', 'history'}, {'physics', 'math'}, {'english', 'art', 'history'}, {'english', 'math'}]

In [ ]:
data = [
    ("Alice", ["math", "english", "history"]),
    ("Bob", ["math", "physics"]),
    ("Charlie", ["english", "art", "history"]),
    ("David", ["math", "english"]),
]
dicts={}
for name ,sub in data:
    for sub_nme in sub:
        if sub_nme not in dicts:
            dicts[sub_nme] = set()
        dicts[sub_nme].add(name)

print(dicts)
dict_t={}
for sub1,name1 in dicts.items():
    for sub1 in range()

{'math': {'Bob', 'Alice', 'David'}, 'english': {'David', 'Alice', 'Charlie'}, 'history': {'Alice', 'Charlie'}, 'physics': {'Bob'}, 'art': {'Charlie'}}

In [223]:
from itertools import combinations

dicts = {
    'math': {'Alice', 'Bob', 'David'},
    'english': {'Alice', 'Charlie', 'David'},
    'history': {'Alice', 'Charlie'},
    'physics': {'Bob'},
    'art': {'Charlie'}
}

result = []

# Step 1: Loop through all unique pairs of subjects
for sub1, sub2 in combinations(dicts.keys(), 2):
    # Step 2: Find common students using set intersection
    common_students = dicts[sub1].intersection(dicts[sub2])
    count = len(common_students)
    
    # Step 3: Add to result
    result.append((sub1, sub2, count))

# Print result
for item in result:
    print(f"{item[0]} & {item[1]} â†’ {item[2]} common students")

math & english â†’ 2 common students
math & history â†’ 1 common students
math & physics â†’ 1 common students
math & art â†’ 0 common students
english & history â†’ 2 common students
english & physics â†’ 0 common students
english & art â†’ 1 common students
history & physics â†’ 0 common students
history & art â†’ 1 common students
physics & art â†’ 0 common students

Take the following for loop, and translate it into a list. comprehensions:
odds = []
for num in range(10): 
    if num % 2 != 0: 
        odds.append(num)

In [ ]:

odd =[i for i in range(10) if i%2!=0]
print(odd)

Take the following for loop, and translate it into a dictionary comprehensions:
cubes = {}
for num in range(1, 6): 
    cubes[num] = num ** 3

In [31]:
cubes = {num:num**3 for num in range(1,6)}
print(cubes)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

Write the below code in list comprehension.
Using a loop to generate a list of square numbers

squr = []
for x in range(1, 11):
    sq = x**2
    squr.append(sq)
squr

In [ ]:
sqr=[i**2 for i in range(1,11)]
print(sqr)


Covert the below code in to list comprehension
Using a loop to convert a list of names to upper case
colors = ['Red', 'Blue', 'Green', 'Black', 'White']
upper_cols = []
for cols in colors:
    upper_cols.append(cols.upper())
colors

In [ ]:
colors = ['Red', 'Blue', 'Green', 'Black', 'White']
upper_cols = [i.upper() for i in colors]
print(upper_cols)

Functions

Take a second to type out the version of the get_evens function above that returned the evens from 0 to 8 (e.g. it returned [0, 2, 4, 6, 8]) Type this out into a cell below (it'll make it easier to modify moving forward).

In [32]:
def get_evens1():
    even =[]
    for n in range(9):
        if n%2==0:
            even.append(n)
    return(even)
get_evens1()

[0, 2, 4, 6, 8]

Call this three separate times. What do you expect the output to be - do you expect it to change each time you call it? Why or why not?

In [33]:
get_evens1()
get_evens1()
get_evens1()

[0, 2, 4, 6, 8]

Now, modify the function so that it returns the evens from 0 to 18 (e.g. it returns [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]).

In [34]:
def get_evens1():
    even =[]
    for n in range(19):
        if n%2==0:
            even.append(n)
    return(even)
get_evens1()

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

Next, modify the function that it returns the multiples of 3 from 0 to 18 (e.g. it returns [0, 3, 6, 9, 12, 15, 18]).

In [35]:
def get_mult():
    odd =[]
    for n in range(19):
        if n%3==0:
            odd.append(n)
    return(odd)
get_mult()

[0, 3, 6, 9, 12, 15, 18]

Call this version of your function three separate times. What do you expect the output to be - do you expect it to change each time you call it? Why or why not?

In [36]:
get_evens1()
get_evens1()
get_evens1()

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

Finally, move the return statement in by one indentation level (e.g. a Tab, or 4 spaces). What do you expect to happen now if you call your function? Call it, and see if you get what you expected. If so, then why? If not, why not?

In [37]:
def get_evens1():
    odd =[]
    for n in range(19):
        if n%3==0:
            odd.append(n)
        return(odd)
get_evens1()

[0]

Write a Python function to find the maximum of three numbers.

In [38]:
def max1(a,b,c):
    return max(a,b,c)

#print(max(10,12,45))
max1(10,12,45)

45

Write a Python function to sum all the numbers in a list.

In [39]:
def mul1(n):
    sum =0
    for i in n:
        sum+=i
    return sum
mul1([1,2,3,4,5])

15

Write a Python function to multiply all the numbers in a list.

In [40]:
def mul1(n):
    mul_result =1
    for i in n:
        mul_result*=i
    return mul_result
mul1([1,2,3,4,5])

# def mul1(n):
#     product1 =1
#     x = [x += product1 for x in n]
#     return x

# mul1([1,2,3,4,5])

120

Write a Python function student_data () that will print the ID of a student (student_id). If the user passes an argument
student_name or student_class the function will print the student name and class.

In [41]:
def student_data(student_id = 23 ,student_name=False,student_class=False):
    print(f"The student Id is {student_id}")
    if student_name:
        print(f"The student name is {student_name}")
    if student_class:
        print(f"The student class is {student_class}")

student_data()
student_data(28,"sruthi")
student_data(27,"sruthi","12B")

The student Id is 23
The student Id is 28
The student name is sruthi
The student Id is 27
The student name is sruthi
The student class is 12B

Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an
argument.

In [ ]:
def fact(n):
    fact =1
    for i in range(1,n+1):
        fact *= i
    return fact
n = int(input("Enter a number to find the factorial"))
fact(n)

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

In [ ]:
# import math solution:
 
def factorial_math(n_fact):     # with math-Import
    import math
    return math.prod(n for n in range(1, n_fact +1))
 
        # multiply all "n" within range of (1 -> n_fact inclusive) with each other
 
factorial_math(0)

Function Definitions: Part 2 Intro Questions
Type out the get_evens in the cell below. Typing it out will give you some practice building a function.
Call the function with a couple of different arguments. Before you call it, though, write down what you expect it to output. Do
the function calls output what you expect? Why or why not?

In [42]:
def get_evens1(n):
    even =[]
    for n in range(1,n+1):
        if n%2==0:
            even.append(n)
    return(even)
    #print(even)
get_evens1(8)  #[2,4,8]
get_evens1(10) #[2,4,8,10]
get_evens1(5)  #[2,4]  .....it return only the last fuction call,if we want to print functions with 3 different 
                #arguments at the same time,use print function instead of return.

[2, 4]

Function Default Arguments Questions

Take the function definition above, and change the default value to 10. What do you expect the function call get_evens()
with no arguments to return? What about get_evens(10)?

In [43]:
def get_evens1(n=10):
    # even =[]
    # for n in range(1,n+1):
    #     if n%2==0:
    #         even.append(n)
    # return(even)
    return[i for i in range(n+1) if n%2==0]
get_evens1()
get_evens1(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Now change the function definition above to have a default value of 20. Do you expect the calls get_evens() and
get_evens(20) give the same output? Why or why not?

In [44]:
def get_evens1(n=20):
    even =[]
    for n in range(1,n):
        if n%2==0:
            even.append(n)
    return(even)
get_evens1()
get_evens1(20)  # both give the same output

[2, 4, 6, 8, 10, 12, 14, 16, 18]

Leaving the function with a default output value of 20, call it with arguments of 5 and 10. What do you expect
the output to be? Run it, and either verify your results or figure out why the output differed from what you expected.

In [ ]:
def get_evens1(n=20):
    even =[]
    for n in range(1,n):
        if n%2==0:
            even.append(n)
    return(even)
get_evens1(5)
get_evens1(10)  #both fuctions will take only the arguments given instead of taking default value

[2, 4, 6, 8]

Multiple Argument Function Questions

Change the default values of n and divisor in our get_multiples function to 100 and 10, respectively. What do you think the function
call get_multiples() would output, now? Call this from a cell, and verify your answer or figure out why the output differed from
what you expected.

Now, call get_multiples(100, 10). Again, note what you expect this call will output before calling it. Is the output the same as in
1. Why or why not?

In [ ]:
def get_multiples(num =100,divisor=10):
    multiples_lst  =[]
    for n in range(1,num):
        if n%divisor==0:
            multiples_lst .append(n)
    return(multiples_lst )
get_multiples()
get_multiples(100, 10) #both will have the same output

[10, 20, 30, 40, 50, 60, 70, 80, 90]


Multiple Argument Function Questions Part 2

Which of the following function definitions are valid? Why?
#A def my_func1(var1='Hello', var2): #default before non-default is not allowed (my_func1(,34))
#         pass no
#B def my_func2(var1, var2='Hello'): #Non-default first, then default (correct)
#         pass yes
#C def my_func3(var1, var2=35):      #Non-default first, then default (correct)
#         pass yes
#D def my_func4(var1=35, var2):    #default before non-default is not allowed
#         pass no
#E def my_func5(var1=35, var2='Hello'): 
#         pass yes
#F def my_func6(var1, var2): 
#         pass yes

Which one of the following functions passes arguments by position, and which by keyword?

A. get_multiples(16, 2)    # position 
B. get_multiples(n=45, divisor=6)  # keyword,because they are defined

Which of the following function calls are valid? Why?
A. get_multiples(25, 17)   #valid
B. get_multiples(n=21, 12)  #invalid
C. get_multiples(28, divisor=13)  #valid
D. get_multiples(n=26, divisor=13) #valid
E. get_multiples(n=48, 8)          #invalid
F. get_multiples(60, divisor=10)   #valid

Verify your answers by typing these into cells, or figure out why you don't see the results you expected.

What will be the output of the following Python code?
def f1():
    x=15
    print(x)
x=12
f1()
a) Error
b) 12
c) 15
d) 1512

In [ ]:
def f1():
    x=15
    print(x)
x=12 #this will not work,not inside the function
f1()

15

What will be the output of the following Python code?
def f1():
    x=100
    print(x)
x=+1
f1()
a) Error
b) 100
c) 101
d) 99

In [2]:
def f1():
    x=100
    print(x)
x=+1
f1()

100

What will be the output of the following Python code?
def f():
    global a
    print(a)
    a = "hello"
    print(a) 
a = "world" 
f()
print(a)
a)
hello
hello
world

b)
world
hello
hello

c)
hello
world
world

d)
world
hello
world

In [3]:
def f():
    global a
    print(a)
    a = "hello"
    print(a) 
a = "world" 
f()
print(a)

world
hello
hello

Read the following Python code carefully and point out the global variables?
y, z = 1, 2
def f():
    global x
    x = y+z
a) x
b) y and z
c) x, y and z
d) Neither x, nor y, nor z

In [19]:
y, z = 1, 2
def f():
    global x
    x = y+z
print(x,y,z)

1 1 2