In [ ]:
# 1. Write a Python program to sum all the items in a list.
sample_list = [2,15,-90]
#define a function to find the sum of items in a list
def sum_list(items):     
    sum = 0                 #initialize sum to 0       
    for x in items:         #iterate through each item in a list
        sum += x            #add current item to the sum
    return sum              #return sum
#print the sum of items in the list
print("The sum is:", sum_list(sample_list))

In [ ]:
#2.Write a Python program to get the largest number from a list.

#define a function ti find the largest among the list
def max_list(items):
    max_val = items[0]           #Initialize max_val with the first item in the list
    for x in items:              #iterate each item in the list
        if x > max_val:          #check the current item greater than max_val
            max_val = x          #update max_val
    return max_val               #return the largest value found
#print the largest value among the list
print("The largest of the given list is", max_list([2,45,98,77]))

In [ ]:
#3.Write a Python program to check if a list is empty or not.
#create an empty list
empty_list=[]
if not empty_list:      #check if list is empty using the keyword 'not'
    print("list is empty")  #print the result

In [ ]:
#4.Write a Python program to clone or copy a list.
original_list = [23, 34, 56, 78]  # Create an original list
new_list = list(original_list)   # Copy using list()
print("New list", new_list)    #print the new_list

In [ ]:
#5.Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.
color = ["yellow","green","red","white","pink","black"]
color = [x for (i,x) in enumerate(color) if i not in (0,4,5)]
print(color)

In [ ]:
#6. Write a Python program to print the numbers of a specified list after removing even numbers from it.
num = [24,33,23,56,78,99]
num =[x for x in num if x % 2!=0]
print("The numbers are not even in the list are",num)

In [1]:
#7.Write a Python program to check if each number is prime in a given list of numbers. Return True if all numbers are prime otherwise False.

def primecheck(n):
    if n<=1:
        return False
    for i in range(2,int(n**0.5)+1):
        if n%i == 0:
            return False
    return True




def allprime(num):
    primenums = [x for x in num if primecheck(x)]

    if primenums:
        print("prime numbers in the list", primenums)
    else:
        print("nothing is prime")
    
     

num_list = [12,55,67,33,42,68,7]
result = allprime(num_list)

prime numbers in the list [67, 7]

Check your understanding
Part 1: Create Lists

Construct a list with 5 integers in it.
Construct a list of 5 floats in it.
Construct a list with only strings in it.
Construct a list that contains at least one integer, one floating point number, and one string.
Construct a list that contains a list of integers, a list of floating point numbers, and a list of strings?
If you saved the lists from questions 1-3 into their own variables then you can do this in more than one way.

In [1]:
list_int = [1,2,3,45,12]
list_float = [1.3,3.3,2.3,5.77,90.87]
list_string =["sru","mahesh","pooja","ravi"]
list_mix = [12,"today", 89.07]
list_tog = [list_int,list_float,list_string]
print(list_int)
print(list_float)
print(list_string)
print(list_mix)
print(list_tog)

[1, 2, 3, 45, 12]
[1.3, 3.3, 2.3, 5.77, 90.87]
['sru', 'mahesh', 'pooja', 'ravi']
[12, 'today', 89.07]
[[1, 2, 3, 45, 12], [1.3, 3.3, 2.3, 5.77, 90.87], ['sru', 'mahesh', 'pooja', 'ravi']]

Part 2: List Operations

Construct a list of the even numbers from 0 to 10.
Add (with a method) the number 12 to the previous list.
Use a method on the list to put the numbers in descending order (12 down to 0).
Call .count(12) on your list. Given what it returns and the name of the method itself, can you take a guess at what this
method does?
Add (with a method) the number 12 to the list again.
Call .count(12) on your list again. Did you get the intended result?
Use a method on the list to put the numbers in ascending order (from 0 to 12).
Remove the last item from the list.
How many items are now in your list? (you can check if your right with len(my_list))

In [2]:
list_even = list(range(0,11,2))
print(list_even)
list_even.append(12)
#list_even.extend([90,00]) #when we need to append more than one element to a list-use extend
print(list_even)
list_even.sort(reverse=True)
print(list_even)
list_even.count(12)  #it gives how many occurrences of 12 in the list ,list_even.count(12) = 1
list_even.append(12)
print(list_even)
list_even.count(12)
list_even.sort(reverse=False)
print(list_even)
list_even.pop(-1)
print(list_even)
print(len(list_even))

[0, 2, 4, 6, 8, 10]
[0, 2, 4, 6, 8, 10, 12]
[12, 10, 8, 6, 4, 2, 0]
[12, 10, 8, 6, 4, 2, 0, 12]
[0, 2, 4, 6, 8, 10, 12, 12]
[0, 2, 4, 6, 8, 10, 12]
7

Part 3: List Indexing

Assume that we are working the list [3, 7, 12, 15, 22].

How would we index into the list to grab the number 7? What about the number 15?
Using negative indexing, how would we index into the list to grab the number 12?
How would I use interval indexing to grab 7 and 15 from the list?

In [ ]:
lst = [3,7,12,15,22]
print(lst[1],lst[3],lst[-3],lst[1:2],lst[3:4])

Part 4: List Iteration

Assume that we are working with the list [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10].

Write a for loop to iterate over the list and print each number.

Add a condition to that for loop which only prints a number if it is even. (Hint: use the % operator.)

a. Do not only print the even number but store them in the list evens.

Can you modify the condition in question (2) so that the for loop only prints a number if it is odd?

Now modify the for loop so that we print out the index of the elements along with the elements themselves

In [4]:
lst = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 
evens=[]
for x in lst:
    if x%2==0:              #if we use if x%2!=0 ,we will get the odd numbers in the list      
        evens.append(x)
print("The even list is",evens)
for index,value in enumerate(evens):
    print(f"Indexes {index} and elements {value}")

The even list is [0, 2, 4, 6, 8, 10]
Indexes 0 and elements 0
Indexes 1 and elements 2
Indexes 2 and elements 4
Indexes 3 and elements 6
Indexes 4 and elements 8
Indexes 5 and elements 10

Part 5: List Iteration 2

You have received a list with the personal data of new customers. For each customer, the first name, age and purchased product
is stored in a list.

Use the correct indices to write the following sentence for customer 3:
"{first name} is {age} years old and has bought {product}".

Use a for loop to iterate through all customers and print
"{first name} is {age} years old and has bought {product}". for each of them

Iterate through all customers and print "Customer number {index}: {first name} is {age} years old and has bought {product}".
Click here for a hint.

With customers[0] you access the first nested list ['Anna', 39, 'Macbook Air']. You can index each of those elements again.
Try out: customers[0][0]

With a for loop you iterate through each customer in "customers", now each personal data from the customer can be accessed
with: customer[0] (is first name) etc.

For the index, you will need to iterate through enumerate(customers).

customers = [['Anna', 39, 'Macbook Air'],
            ['Anto', 11, 'Camera'],
            ['Ginny', 65, 'Umbrella'],
            ['Konny', 50, 'Plants']]

In [5]:
customers = [['Anna', 39, 'Macbook Air'],
            ['Anto', 11, 'Camera'],
            ['Ginny', 65, 'Umbrella'],
            ['Konny', 50, 'Plants']]

print(f"{customers[3][0]} is {customers[3][1]} years old and has bought {customers[3][2]}")

Konny is 50 years old and has bought Plants

In [6]:
for element in customers:
    print(element[0] + " is " + str(element[1]) + " years old and has bought a " + element[2] + ".")

Anna is 39 years old and has bought a Macbook Air.
Anto is 11 years old and has bought a Camera.
Ginny is 65 years old and has bought a Umbrella.
Konny is 50 years old and has bought a Plants.

In [7]:
for i,x in enumerate(customers):
    print(f"customer number {i}: {x[0]} is {x[1]} years old and has bought {x[2]}")

customer number 0: Anna is 39 years old and has bought Macbook Air
customer number 1: Anto is 11 years old and has bought Camera
customer number 2: Ginny is 65 years old and has bought Umbrella
customer number 3: Konny is 50 years old and has bought Plants

Part 6: List Concatenate
Join the two list given below:

listone = [1,2,3]
listtwo = [4,5,6]

In [8]:
listone = [1,2,3]
listtwo = [4,5,6]

list_join = listone + listtwo
print(list_join)

[1, 2, 3, 4, 5, 6]

Part7
Write a Python program to calculate the difference between the two lists.

list1 = [1, 3, 5, 7, 9]
list2=[1, 2, 4, 6, 7, 8]

In [ ]:

list1 = [1, 3, 5, 7, 9]
list2=[1, 2, 4, 6, 7, 8]
diff_list1_list2 = list(set(list1) - set(list2))
diff_list2_list1 = list(set(list2) - set(list1))
total_diff = diff_list1_list2 + diff_list2_list1
print(total_diff)

Part 1

Make a set called first_set with the values 1-10 and another with the values 5-15 called second_set.
Add the value 11 to first_set.
Add the string 'hey_you' to second_set.
Using one of the methods discussed above, find what elements first_set and second_set have in common.
In one line of code, add all the elements of second_set to first_set.

In [9]:
first_set = {1,2,3,4,5,6,7,8,9,10}
second_set = {5,6,7,8,9,10,11,12,13,14,15}
first_set.add(11)
print("First set",first_set)
second_set.add("hey_you")
print("second set",second_set)
print("Common",first_set.intersection(second_set))
first_set.update(second_set)
print("First set",first_set)

First set {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
second set {5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 'hey_you'}
Common {5, 6, 7, 8, 9, 10, 11}
First set {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 'hey_you'}

Part 2

Given the lists first_list = ['hello', 'there', 'things', 'stuff', 'other', 'soda', 'chicken wings',<br> 'things', 'soda'] and 'second_list = ['turkey sandwich', 'guacamole', 'chicken wings', 'OJ', 'soda']:

Find the unique elements in first_list.
In one line, find the common elements in the two lists.
Write a single line that outputs True or False depending on if the string 'pizza' is in both lists.

In [10]:
first_list = ['hello', 'there', 'things', 'stuff', 'other', 'soda', 'chicken wings', 'things', 'soda']
second_list = ['turkey sandwich', 'guacamole', 'chicken wings', 'OJ', 'soda']

unique_elem = set(first_list)

print(unique_elem)

{'stuff', 'chicken wings', 'there', 'hello', 'things', 'soda', 'other'}

In [103]:
first_list = ['hello', 'there', 'things', 'stuff', 'other', 'soda', 'chicken wings', 'things', 'soda']
second_list = ['turkey sandwich', 'guacamole', 'chicken wings', 'OJ', 'soda']

common = list(set(first_list).intersection(second_list))
print(common)

['chicken wings', 'soda']

In [104]:
is_pizza_in_both = 'pizza' in set(first_list).intersection(second_list)
print(is_pizza_in_both)

False

Part 3

Write a Python program to create an intersection of sets below:

setx = {"green", "blue"}
sety = {"blue", "yellow"}

In [11]:
setx = {"green", "blue"}
sety = {"blue", "yellow"}
print(setx.intersection(sety))

{'blue'}

Part 4

Write a Python program to find the length of the set given below:
setn = {5, 10, 3, 15, 2, 20}

In [12]:
set_n = {5, 10, 3, 15, 2, 20}
print(len(set_n))

6

Part 1: Mutability

Consider the list: my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]. Each of the following questions is based on this exact
list unless otherwise specified.

What do you expect my_list to look like after running my_list[4] = 200?
What do you expect my_list to look like after running my_list.append(9)?
A. On this new version of my_list, run my_list.sort(). What do you expect my_list to look like now?
Take a look at the docs for the insert method here. What do you expect my_list to look like after my_list.insert(0, 'hello')?
A. On this new version of my_list, run my_list.sort(). What do you expect my_list to look like now?
What do you expect my_list to look like after my_list.reverse()?
Why can you change the data in my_list as you did in the above questions? Was a new list created when you ran my_list.sort()?
Make sure that you tried out the code from the above examples. Did those operations return anything? Why or why not?

In [13]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_list[4] = 200
print(my_list)
my_list.append(9)
print(my_list)
my_list.sort()
print(my_list)
my_list.insert(0, 'hello')
print(my_list)
my_list.reverse()  #my_list.sort()-doesnt work
print(my_list)
#my_list.sort()

[1, 2, 3, 4, 200, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 200, 6, 7, 8, 9, 10, 9]
[1, 2, 3, 4, 6, 7, 8, 9, 9, 10, 200]
['hello', 1, 2, 3, 4, 6, 7, 8, 9, 9, 10, 200]
[200, 10, 9, 9, 8, 7, 6, 4, 3, 2, 1, 'hello']

Part 2: Tuples

Make a tuple called my_tuple with the values 1 and "hello" in it.
A. How do you access the 1 in my_tuple?
B. How do you access the "hello" in my_tuple?
Can you change the "hello" entry in my_tuple to "hello there"? Why or why not?
Make a tuple called other_tuple with the values "other" and an empty list in it.
C. Add the word "there" to the list in the tuple. Why can you do this?
D. Add the word "hello" to the list in the tuple as the first element in the list.

In [14]:
#1.
tuple_s = (1,"hello")
print("first element",tuple_s[0])
print("second element",tuple_s[1])
#2 - no we cant change elements in tuple because its immutable
#3
other_tuple =("other",[])
print(other_tuple)
list1 = list(other_tuple)
print(list1)
list1.append("there")
list1.append("hello")
print(list1)
other_tuple = tuple(list1)
print(other_tuple)

first element 1
second element hello
('other', [])
['other', []]
['other', [], 'there', 'hello']
('other', [], 'there', 'hello')

Part 3

Write a Python program to remove an item from a tuple by following the steps:

create a tuple and print it.
using merge of tuples with the + operator, remove an item and create a new tuple and then print it.
convert the tuple to list
use different ways to remove an item of the list
convert the tuple back to list and print it.

In [15]:
tuple1=("hello",1,6,"welcome")
print(tuple1)
tuple2 =("there",90,"thanks")
merged = tuple1 + tuple2
print("merged",merged)
list3 = list(merged)
print(list3)
list3.pop(2)  # 6 will be removed
print(list3)
merged = tuple(list3)
print("back to tuple",merged)

('hello', 1, 6, 'welcome')
merged ('hello', 1, 6, 'welcome', 'there', 90, 'thanks')
['hello', 1, 6, 'welcome', 'there', 90, 'thanks']
['hello', 1, 'welcome', 'there', 90, 'thanks']
back to tuple ('hello', 1, 'welcome', 'there', 90, 'thanks')

Part 1: Intro Dictionaries

Make a dictionary called restaurant_types that has the following associated key-value pairs: ('Red Lobster', 'Seafood'), ('Burger King',
'Fast Food'), ('Safeway', 'Grocery Store').

How do you find the restaurant type for 'Burger King'?

What if you don't know whether or not 'Outback Steakhouse' is in the restaurant_types dictionary - how would you go about
trying to get it's restaurant type and make sure that you won't get an error?

In [16]:
#1
restaurant_types  = (('Red Lobster', 'Seafood'), ('Burger King','Fast Food'), ('Safeway', 'Grocery Store'))
dict1 = dict(restaurant_types)
print(dict1)
#2
print(dict1.get('Burger King','not found'))
#3
print(dict1.get('Outback Steakhouse','Outback Steakhouse-not found sorry!!'))

{'Red Lobster': 'Seafood', 'Burger King': 'Fast Food', 'Safeway': 'Grocery Store'}
Fast Food
Outback Steakhouse-not found sorry!!


Part 2: Mutating Dictionaries

Using the same restaurant type dictionary from the last question set, add to it the key-value pair, ('Outback Steakhouse', 'Delicious!').
What if we want to change the restaurant type of 'Safeway' to just 'Grocery' - how would you make that change?

In [17]:
#1
restaurant_types = {'Red Lobster': 'Seafood', 'Burger King': 'Fast Food', 'Safeway': 'Grocery Store'}
restaurant_types["Outback Steakhouse"] = "Delicious!"
print(restaurant_types)
#2
restaurant_types["Safeway"] = "Grocery"
print(restaurant_types)

{'Red Lobster': 'Seafood', 'Burger King': 'Fast Food', 'Safeway': 'Grocery Store', 'Outback Steakhouse': 'Delicious!'}
{'Red Lobster': 'Seafood', 'Burger King': 'Fast Food', 'Safeway': 'Grocery', 'Outback Steakhouse': 'Delicious!'}

Part 3:Looping Dictionary Questions

Write a for loop that prints all the keys in the restaurant types dictionary.
Write a for loop that goes through all of the keys in the restaurant types dictionary and only prints the names of restaurants that are
longer than 10 characters.
Write a for loop that prints the all the restaurants that are of type 'Seafood'

In [105]:
#1.
restaurant_types = {'Red Lobster': 'Seafood', 'Burger King': 'Fast Food', 'Safeway': 'Grocery Store', 'Outback Steakhouse': 'Delicious!'}
for x in restaurant_types:
    print(x)
#2.
print()
for x in restaurant_types:
    if(len(x)>10):
        print(x)
#3.
print()
for x,i in restaurant_types.items():
    if i == 'Seafood':
        print(x)

Red Lobster
Burger King
Safeway
Outback Steakhouse

Red Lobster
Burger King
Outback Steakhouse

Red Lobster

Part 4

Write a Python script to concatenate following dictionaries to create a new one.
Sample Dictionary :

dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50, 6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

Check if a certain key (1 and 7) already exist in your dictionary. If not please return "Key not found".

In [113]:
#1
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50, 6:60}

dic4 = dic1 | dic2 | dic3
print("Merged one is",dic4)

#2
dic4.get(1,'1 is not found')
dic4.get(7,'7 is not found')

Merged one is {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

'7 is not found'

Part 5

Write a Python script to add a key to a dictionary.
Sample Dictionary : {0: 10, 1: 20}
Expected Result : {0: 10, 1: 20, 2: 30}
Write a Python script to concatenate the following dictionaries to create a new one.
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [101]:
#1. 
d1 = {0: 10, 1: 20}
d1[2] = 30
print(d1)

{0: 10, 1: 20, 2: 30}