# üêç Python Challenges ‚Äì Group Work

These challenges will test your skills in **loops**, **lists**, **sets**, **mutability**, and **if/else** conditions.  
You will work in **two groups**. Each group has a different theme, but both challenges cover the same concepts.

---

## **Group 1 Challenge ‚Äì "Classroom Candy Distribution" üç¨**

**Scenario:**  
You‚Äôre helping a teacher distribute candies to students in a fair way.

### Instructions:
1. Start with the following list of student names (some names are duplicated):
   ```python
   students = ["Ali", "Sara", "Ali", "John", "Sara", "Maya", "Zain", "Maya", "Omar"]

In [8]:
students = ["Ali", "Sara", "Ali", "John", "Sara", "Maya", "Zain", "Maya", "Omar"]

2. Remove duplicates using a set, then convert back to a list:
   ```python

In [9]:
students = ["Ali", "Sara", "Ali", "John", "Sara", "Maya", "Zain", "Maya", "Omar"]
students = set(students)
students1 = list(students)
print(students1)

['Ali', 'Sara', 'John', 'Zain', 'Maya', 'Omar']

3. Each student gets candies based on the length of their name:

- Name length ‚â§ 4 ‚Üí 2 candies
- Name length 5‚Äì6 ‚Üí 3 candies
- Name length > 6 ‚Üí 4 candies

In [10]:
candies = {}
for i in students1:
    if len(i) <= 4:
        candies[i] =2
    elif len(i) == 5 or len(i) == 6:
        candies[i] =3
    else:
        candies[i] =4
print(candies)

{'Ali': 2, 'Sara': 2, 'John': 2, 'Zain': 2, 'Maya': 2, 'Omar': 2}

4. Store the result in a list of tuples in the format:

[("Ali", 2), ("Sara", 3), ("John", 3), ...]

In [11]:
tuple1 = tuple(candies.items())
print(tuple1)

(('Ali', 2), ('Sara', 2), ('John', 2), ('Zain', 2), ('Maya', 2), ('Omar', 2))

5. Calculate total candies needed.

In [12]:
sum =0
dict_1 = dict(tuple1)
for i in dict_1.values():
    sum += i
print(sum)

12


6. Print the results in this format:

Ali gets 2 candies.<br>
Sara gets 3 candies.<br>
...<br>
Total candies needed: 25<br>

In [14]:
for x, i in dict_1.items():
    print(f"{x} gets {i} candies")

Ali gets 2 candies
Sara gets 2 candies
John gets 2 candies
Zain gets 2 candies
Maya gets 2 candies
Omar gets 2 candies

# üèÜ Group 2 Challenge ‚Äì "Sports Tournament Scoring"

**Scenario:**  
You‚Äôre in charge of calculating scores for players in a tournament.

---

## **Instructions**
1. Start with the following list of player names (some names are duplicated):
   ```python
   players = ["Lina", "Omar", "Lina", "Hadi", "Omar", "Noor", "Hadi", "Karim"]

In [2]:
players = ["Lina", "Omar", "Lina", "Hadi", "Omar", "Noor", "Hadi", "Karim"]

2. Remove duplicates using a set, then convert back to a list.

In [3]:
players=set(players)
print(players)
players=list(players)
print(players)

{'Noor', 'Hadi', 'Karim', 'Lina', 'Omar'}
['Noor', 'Hadi', 'Karim', 'Lina', 'Omar']

3. Each player‚Äôs starting score is based on the number of letters in their name:

Name length ‚â§ 4 ‚Üí 5 points <br>
Name length 5‚Äì6 ‚Üí 10 points <br>
Name length > 6 ‚Üí 15 points <br>

In [4]:
points= {}
for i in players:
    if len(i) <= 4:
        points[i] = 5 
    elif len(i) == 5 or len(i) ==6:
        points[i] = 10
    else:
        points[i] =15
print(points)

{'Noor': 5, 'Hadi': 5, 'Karim': 10, 'Lina': 5, 'Omar': 5}

4. Store the result in a list of tuples in the format:

[("Lina", 5), ("Omar", 5), ("Hadi", 5), ...]

In [5]:
tuple1 = tuple(points.items())
print(tuple1)

(('Noor', 5), ('Hadi', 5), ('Karim', 10), ('Lina', 5), ('Omar', 5))

5. Calculate total points across all players.

In [6]:
sum = 0
dict1 = dict(tuple1)
for i in dict1.values():
    sum+=i
print(sum)

30


6. Print the results in this format:

Lina starts with 5 points. <br>
Omar starts with 5 points. <br>
...<br>
Total points: 50<br>

In [7]:
for x,i in dict1.items():
    print(f"{x} starts with {i} points")

Noor starts with 5 points
Hadi starts with 5 points
Karim starts with 10 points
Lina starts with 5 points
Omar starts with 5 points