# More exercise on Pandas

In the last few notebooks, we have learnt a lot about ```Numpy``` and ```Pandas```. There is only one way you can learn<br> that thoroughly. That is by practicing! Practice Practice Practice!!!

Thus, here is another exercise on pandas, in which you are asked to do a few different things with the new tools we<br> learned about (methods for combining records, ```pd.cut``` and ```pivot tables```).

Again, we'll be working with the ```wine``` datasets that are located in the ```data``` folder in this day's directory.

1. Read the ```winequality-red.csv``` data into a DataFrame, and the ```winequality-white.csv``` into another DataFrame.

In [66]:
import pandas as pd
import numpy as np
red_wines_df = pd.read_csv(r'C:\Users\sruth\Documents\Greenbootcamps\DS_Python_advanced\data\winequality-red.csv', sep=';')
red_wines_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [69]:
white_wines_df = pd.read_csv(r'C:\Users\sruth\Documents\Greenbootcamps\DS_Python_advanced\data\winequality-white.csv', sep=';')
white_wines_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

2. Double check that you've read them in right by using some of the attributes and methods available on ```DataFrames``` for<br> getting a general sense of your data.

In [ ]:
red_wines_df.info()
white_wines_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
 12  alcohol_bin           852 non-null    category
 13  alcohol_bin           852 non-null    category
 14  alcohol_bin           852 non-null    category
dtypes: category(3), float64(11), int64(1)
memory usage: 155.3 KB

In [ ]:
red_wines_df.shape
white_wines_df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         4898 non-null   float64
 1   volatile acidity      4898 non-null   float64
 2   citric acid           4898 non-null   float64
 3   residual sugar        4898 non-null   float64
 4   chlorides             4898 non-null   float64
 5   free sulfur dioxide   4898 non-null   float64
 6   total sulfur dioxide  4898 non-null   float64
 7   density               4898 non-null   float64
 8   pH                    4898 non-null   float64
 9   sulphates             4898 non-null   float64
 10  alcohol               4898 non-null   float64
 11  quality               4898 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

In [51]:

# red_wines_df.describe()   #Mean alcohol content 14.9   Mean alcohol content 8.4
print("Mean alcohol content",red_wines_df.alcohol.mean())

Mean alcohol content 10.422983114446529

In [52]:
print("Mean alcohol content",white_wines_df.alcohol.mean())
# white_wines_df.describe()           #Mean alcohol content 14.2 Mean alcohol content 8.0

Mean alcohol content 10.514267047774602

3. I've decided that this month I want to stay away from wines with relatively high alcohol content. To do that, I'm going<br> to avoid any wines that have a greater alcohol content than the mean alcohol content, and you're going to help me do this.<br> To achieve this, let's do the following:

- Find the mean alcohol content, separately, for reds and whites.
- Create a ```Series``` that holds whether each row in each ```DataFrame``` (the reds, and whites) has a higher alcohol content than<br> the mean.
- Merge this ```Series``` onto the ```DataFrame```. I can imagine doing this with either a ```.join()``` or using ```pd.concat()```. For practice, do it with both. Note: merges with ```Series``` work the same way that they work with ```DataFrames```.
- Return back to me all those rows that will help me stay away from those wines with a higher alcohol content.

In [58]:
alcohol_series_red = red_wines_df.alcohol > red_wines_df.alcohol.mean()
alcohol_series_white = white_wines_df.alcohol > white_wines_df.alcohol.mean()

In [ ]:
# alcohol_series_red.rename('alcohol_high_red',inplace=True)
alcohol_series_red.name = 'alcohol_high_red'

In [61]:
alcohol_series_white.rename('alcohol_high_white',inplace=True)

0       False
1       False
2       False
3       False
4       False
        ...
4893     True
4894    False
4895    False
4896     True
4897     True
Name: alcohol_high_white, Length: 4898, dtype: bool

In [151]:
# high_alcohol= pd.concat([red_wines_df, alcohol_series_red], axis=1)
# high_alcohol
Red_flag_Red = red_wines_df.join(alcohol_series_red)
Red_flag_Red

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,alcohol_high_red
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,False
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,False
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,False
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,False
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,True
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,True
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,True
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,False
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,True

In [125]:
Red_flag_Red[Red_flag_Red['alcohol_high_red'] == True]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,alcohol_high_red
9,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.99780,3.35,0.80,10.5,5,True
11,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.99780,3.35,0.80,10.5,5,True
16,8.5,0.280,0.56,1.8,0.092,35.0,103.0,0.99690,3.30,0.75,10.5,7,True
31,6.9,0.685,0.00,2.5,0.105,22.0,37.0,0.99660,3.46,0.57,10.6,6,True
36,7.8,0.600,0.14,2.4,0.086,3.0,15.0,0.99750,3.42,0.60,10.8,6,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1592,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,True
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,True
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,True
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,True
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,True

In [89]:
# high_alcohol= pd.concat([white_wines_df, alcohol_series_white], axis=1)
# high_alcohol
Red_flag_White = white_wines_df.join(alcohol_series_white)
Red_flag_White

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,alcohol_high_white
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6,False
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6,False
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6,False
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6,False
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,True
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,False
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,False
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,True
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,True

In [90]:
Red_flag_White[Red_flag_White['alcohol_high_white'] == True]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,alcohol_high_white
9,8.1,0.22,0.43,1.50,0.044,28.0,129.0,0.99380,3.22,0.45,11.0,6,True
10,8.1,0.27,0.41,1.45,0.033,11.0,63.0,0.99080,2.99,0.56,12.0,5,True
12,7.9,0.18,0.37,1.20,0.040,16.0,75.0,0.99200,3.18,0.63,10.8,5,True
13,6.6,0.16,0.40,1.50,0.044,48.0,143.0,0.99120,3.54,0.52,12.4,7,True
15,6.6,0.17,0.38,1.50,0.032,28.0,112.0,0.99140,3.25,0.55,11.4,7,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4890,6.1,0.34,0.29,2.20,0.036,25.0,100.0,0.98938,3.06,0.44,11.8,6,True
4891,5.7,0.21,0.32,0.90,0.038,38.0,121.0,0.99074,3.24,0.46,10.6,6,True
4893,6.2,0.21,0.29,1.60,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,True
4896,5.5,0.29,0.30,1.10,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,True
4897,6.0,0.21,0.38,0.80,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,True

4. Let's say that I want to get started on cutting back next month. This time, though, I want to focus on staying away<br> from those wines with a high acidity. Specifically, I want to stay away from those wines that are in the highest bin of<br> fixed acidity (highest bin out of 5). You're now going to help me do this. To achieve this, let's do the following:

- Separate the rows in each DataFrame into 5 equal width bins (not equal to quintiles) based off their fixed acidity.
- Merge the resulting Series holding these 5 bins onto the original DataFrame. I can imagine also doing this with either . <br> 
    - join() or using pd.concat(). Try doing it with both for practice.
- Return back to me all those rows that are not in the top bin in terms of fixed acidity.

In [134]:

fixed_acidity_red = pd.cut(red_wines_df['fixed acidity'], bins=5 ,labels=[1,2,3,4,5])
fixed_acidity_red.name = 'fa_bin'
fixed_acidity_red
FA_Red = Red_flag_Red.join(fixed_acidity_red)
FA_Red

# fixed_acidity_bins = np.arange(1, 7)
# fixed_acidity_red = pd.cut(red_wines_df['fixed acidity'], bins=fixed_acidity_bins,labels=fixed_acidity_bins[:-1])
# fixed_acidity_red.name = 'fa_bin'
# fixed_acidity_red
# FA_Red = Red_flag_Red.join(fixed_acidity_red)
# FA_Red

# fixed_acidity_series.name = 'fa_bin'
# red_wines_df = pd.concat([red_wines_df, fixed_acidity_series], axis=1)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,alcohol_high_red,fa_bin
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,False,2
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,False,2
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,False,2
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,False,3
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,False,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,True,1
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,True,1
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,True,1
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,False,1
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,True,1

In [137]:
FA_Red[FA_Red['fa_bin'] != 5]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,alcohol_high_red,fa_bin
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,False,2
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,False,2
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,False,2
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,False,3
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,False,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,True,1
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,True,1
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,True,1
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,False,1
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,True,1

In [138]:
fixed_acidity_white = pd.cut(white_wines_df['fixed acidity'], bins=5 ,labels=[1,2,3,4,5])
fixed_acidity_white.name = 'fa_binW'
fixed_acidity_white
FA_White = Red_flag_White.join(fixed_acidity_white)
FA_White

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,alcohol_high_white,fa_binW
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6,False,2
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6,False,2
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6,False,3
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6,False,2
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6,False,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,True,2
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,False,2
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,False,2
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,True,1
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,True,2

In [139]:
FA_White[FA_White['fa_binW'] != 5]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,alcohol_high_white,fa_binW
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6,False,2
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6,False,2
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6,False,3
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6,False,2
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6,False,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,True,2
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,False,2
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,False,2
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,True,1
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,True,2

5. Let's say that I now want to know how much my decision to avoid those wines with higher ```alcohol``` content is going to<br> limit the ```quality``` of wines that I can drink. To figure this out, I want to know a couple of things:

- The average ```alcohol``` content for those reds above the mean ```alcohol``` level, by quality.
- The average ```alcohol``` content for those whites above the mean ```alcohol``` level, by quality.
- Use a ```pivot table``` to solve this.

In [140]:
pd.pivot_table(Red_flag_Red, values='alcohol', index='quality', columns='alcohol_high_red')

alcohol_high_red     False      True
quality
3                 9.564286  10.866667
4                 9.640909  11.295000
5                 9.600276  11.088686
6                 9.736524  11.437214
7                 9.922222  11.708236
8                 9.900000  12.368750

In [141]:
pd.pivot_table(Red_flag_White, values='alcohol', index='quality', columns='alcohol_high_white')

alcohol_high_white      False      True
quality
3                    9.558333  11.525000
4                    9.636638  11.425532
5                    9.481132  11.211099
6                    9.679489  11.604366
7                    9.666667  11.924761
8                    9.469697  12.139437
9                   10.400000  12.625000

6. Now, do the same for my decision to avoid wines with a high acidity next month:

- Find the average ```alcohol``` content for reds, by ```quality``` and ```fixed acidity``` bin.
- Find the average ```alcohol``` content for whites, by ```quality``` and ```fixed acidity``` bin.

In [143]:
pd.pivot_table(FA_Red, values='alcohol', index='quality', columns='fa_bin',aggfunc=np.mean)

C:\Users\sruth\AppData\Local\Temp\ipykernel_13872\3349941036.py:1: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pd.pivot_table(FA_Red, values='alcohol', index='quality', columns='fa_bin',aggfunc=np.mean)
C:\Users\sruth\AppData\Local\Temp\ipykernel_13872\3349941036.py:1: FutureWarning: The provided callable <function mean at 0x0000026DD46BE660> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  pd.pivot_table(FA_Red, values='alcohol', index='quality', columns='fa_bin',aggfunc=np.mean)

fa_bin           1          2          3          4          5
quality
3         9.875000  10.500000   9.150000   9.000000        NaN
4        11.006667   9.981667   9.920000   9.966667        NaN
5        10.304245   9.773727   9.846429  10.229630  12.050000
6        11.223529  10.431985  10.687395  10.480952  10.240000
7        12.195402  11.486413  11.383333  10.809524   9.866667
8        13.633333  11.937500  11.916667   9.800000        NaN

In [144]:
pd.pivot_table(FA_White, values='alcohol', index='quality', columns='fa_binW',aggfunc=np.mean)

C:\Users\sruth\AppData\Local\Temp\ipykernel_13872\2540638122.py:1: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pd.pivot_table(FA_White, values='alcohol', index='quality', columns='fa_binW',aggfunc=np.mean)
C:\Users\sruth\AppData\Local\Temp\ipykernel_13872\2540638122.py:1: FutureWarning: The provided callable <function mean at 0x0000026DD46BE660> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  pd.pivot_table(FA_White, values='alcohol', index='quality', columns='fa_binW',aggfunc=np.mean)

fa_binW          1          2          3     4     5
quality
3         9.850000  10.472727  10.540000  9.65   NaN
4        10.786364  10.102564  10.126471  9.90   NaN
5        10.136635   9.732173  10.176452  9.70   NaN
6        10.902765  10.529056  10.635247  9.50  11.1
7        12.021405  11.303724  10.988679   NaN   NaN
8        12.403030  11.486364  11.080000   NaN   NaN
9              NaN  12.625000  10.400000   NaN   NaN

- Use a ```pivot table``` to solve this.

7. Write a Pandas program to create a Pivot table with multiple indexes from the data set of ```abalone.csv```

In [149]:
abalone_df = pd.read_csv(r'C:\Users\sruth\Documents\Greenbootcamps\DS_Python_advanced\data\abalone.csv')
abalone_df.head()

pd.pivot_table(abalone_df, index=['Sex','Length'], aggfunc=np.sum)

C:\Users\sruth\AppData\Local\Temp\ipykernel_13872\1187298812.py:4: FutureWarning: The provided callable <function sum at 0x0000026DD46BD260> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pd.pivot_table(abalone_df, index=['Sex','Length'], aggfunc=np.sum)

            Diameter  Height  Rings  Shell weight  Shucked weight  \
Sex Length
F   0.275      0.195   0.070      5        0.0250          0.0310
    0.290      0.435   0.150     11        0.0750          0.1645
    0.305      0.455   0.150     14        0.0930          0.1260
    0.325      0.260   0.090      7        0.0620          0.0850
    0.330      0.260   0.080      9        0.0700          0.0625
...              ...     ...    ...           ...             ...
M   0.760      1.180   0.405     27        1.2060          1.5045
    0.765      1.185   0.400     24        1.1540          2.1350
    0.770      1.825   0.585     33        1.5810          2.9675
    0.775      1.200   0.470     29        1.2365          2.0835
    0.780      0.600   0.210     11        0.6745          1.1945

            Viscera weight  Whole weight
Sex Length
F   0.275           0.0215        0.0800
    0.290           0.0910        0.4150
    0.305           0.0680        0.3045
    0.325           0.0360        0.1915
    0.330           0.0500        0.2000
...                    ...           ...
M   0.760           0.8775        4.0020
    0.765           1.0210        4.7000
    0.770           1.6495        6.7605
    0.775           1.2355        4.8115
    0.780           0.5745        2.5480

[317 rows x 7 columns]