# Dealing with ```data-time``` data

Here we are going to dela with the ```date-time``` data in Pandas and Numpy.

Date and time features are important for data science problems in various industries, from sales, marketing, and finance to HR, e-commerce,<br> retail, and so on. Predicting how the stock markets will behave tomorrow, how many products will be sold in the upcoming week, when is the<br> best time to launch a new product, how long before a position at the company gets filled, etc. are some of the problems that we can find answers<br> to using date and time data.

These techniques make your data even more fun to work with. As a result, you can work with date-time components in a data! This is what is<br> going to explore here in this session!

In many of these cases, if the date-time information is not in the right format, its hard to deal with that part of the data until<br> you transform it into something that can be dealt with.

In the following notebook you will learn how to work with dates and time in ```Python``` and ```pandas```.

Let's start with importing the required packages:

In [205]:
import pandas as pd
from datetime import datetime, date, time, timedelta

## Datetime modele in Python

In [163]:
# We create a date variable for a random date with the datetime module and as a string…
d1 = date(2023, 10, 27)
d2 = '2023-10-27'
d3 = date.today()

# …and print out the variables. Do you see any differences?
print(d1)
print(d2)
print(d3)

2023-10-27
2023-10-27
2025-08-28

Let's check the type of the above data:

In [147]:
# If we have a look at the types of those two variables we can see that there is a difference.
print(type(d1))
print(type(d2))

<class 'datetime.date'>
<class 'str'>

You see the difference right? One is in ```datetime``` format and the other is a ```string```.

In [151]:
# You can also easily create a variable with the date of today.
d3 = date.today()
print('Date of today: ',d3)

# You can print the day…
print('Day: ', d3.day)

# …or month…
print('Month: ', d3.month)

# …or year.
print('Year: ', d3.year)
type(d3.month)

Date of today:  2025-08-28
Day:  28
Month:  8
Year:  2025

int

Quite impressive right!!!

In [152]:
# The same applies to the time method.
t1 = time(15, 30, 12, 50)
t2 = '15:30:12.000050'
print(t1)
print(t2)
print(type(t1))
print(type(t2))

15:30:12.000050
15:30:12.000050
<class 'datetime.time'>
<class 'str'>

Again you can see the same thing! one is in ```datetime``` and the other is a ```string```.

In [135]:
# You can print the hour…
print('Hour :',t1.hour)

# …or minute…
print('Minute :',t1.minute)

# …or second…
print('Second :',t1.second)

# …and even the microseconds.
print('Microsecond :',t1.microsecond)
type(t1.minute)

Hour : 15
Minute : 30
Second : 12
Microsecond : 50

int

Again, interesting right??

Above we looked at the ```date``` and ```time``` separately with the ```date``` and ```time``` methods. But we can also combine both with the ```datetime``` method.

In [138]:
# We create a variable with a random date and time with the datetime method…
dt1 = datetime(2023, 7, 27, 11, 20, 30, 40)

# …and print it.
print(dt1)
print(type(dt1))

2023-07-27 11:20:30.000040
<class 'datetime.datetime'>

At the same time, you can create a variable that can give your local date and time! As follows:

In [154]:
# You can also create a variable with your local date-time.
dt2 = datetime.now()
print(dt2)

2025-08-28 21:01:44.255765

As you can see, if you want to extract the day of the week, Date-time function has that! This is especially helpful in ```feature engineering```<br> because the value of the target variable can be dependent on the day of the week, like sales of a product are generally higher on a weekend or<br> traffic on StackOverflow could be higher on a weekday when people are working, etc

**Note:** ```.weekday``` return the day of the week, starting with ```0``` for ```Monday``` and ```6``` for ```Sunday```. At the same time, ```.isoweekday``` on the other hand<br> returns the day of the week where ```Monday``` is ```1``` and ```Sunday``` is ```7```.

In [156]:
# We can define the date of today…
dt2 = datetime.now()
print(dt2)

# …and print the weekday where Monday is 0…
print(dt2.weekday()) # outputs e.g. 3 for Thursday

# …or where Monday is 1.
print(dt2.isoweekday()) # outputs 4 in ISO format

2025-08-28 21:02:09.962102
3
4

Another very important feature that you can generate from the given date in a dataset is the week of the year.

In [141]:
# We can define the date of today…
dt2 = datetime.now()

# …and return the year, week and weekday. 
print('Date:', dt2.isocalendar())
print('Week :', dt2.isocalendar()[1])

Date: datetime.IsoCalendarDate(year=2025, week=35, weekday=4)
Week : 35

## Formatting the dates with ```strptime``` and ```strftime```

As we saw in the first example, you have to pay attention to the type of the data. The date in datasets often is of type string. So<br> how can we change that?

- ```strptime```: creates a ```datetime``` object from a string representing ```date``` and ```time```. It takes two arguments: the date and the format in which your date is present.
- ```strftime```: can be used to convert the ```datetime``` object into a ```string``` representing ```date``` and ```time```.

If you want to know more about the format codes that are available for Data/time, please go through this [doc](https://help.gnome.org/users/gthumb/stable/gthumb-date-formats.html.en). Let's dive deeper into each of the above formatting!

### **strptime**


With ```strptime``` and the right combination of the format codes (see list above) you can convert a ```string``` into a ```datetime``` type:

In [164]:
# Create a variable with a datetime stored as string…
date = '27 July, 2023 13:20:13'

# …and convert the string to datetime type.
d1 = datetime.strptime(date,'%d %B, %Y %H:%M:%S')
print(d1)
print(type(d1))

2023-07-27 13:20:13
<class 'datetime.datetime'>

In [165]:
# We can create a date stored as string…
date = '2023-07-27'
print(date)
print(type(date))

# …and convert the string to datetime…
d2 = datetime.strptime(date, '%Y-%m-%d')
print(d2)
print(type(d2))

# …or convert the string to date format. 
d2 = datetime.strptime(date, '%Y-%m-%d').date()
print(d2)
print(type(d2))

2023-07-27
<class 'str'>
2023-07-27 00:00:00
<class 'datetime.datetime'>
2023-07-27
<class 'datetime.date'>

### **strftime**

If we want to convert a ```datetime``` variable into a ```string``` we can use ```.strftime``` and the right combination of format codes:

In [166]:
# Create a datetime variable…
d1 = datetime.now()
print('Datetime object :',d1)

# …and convert it into a string.
new_date = d1.strftime('%d/%m/%Y %H:%M')
print('Formatted date :',new_date)
print(type(new_date))

Datetime object : 2025-08-28 21:20:02.572785
Formatted date : 28/08/2025 21:20
<class 'str'>

## Calculations with datetime module

Sometimes, you might have to find the time span between two dates, which can be another very useful feature that you can derive<br> from a dataset. By subtracting one date from another you will get a ```timedelta```.

In [184]:
# timedelta : duration between dates
d1 = datetime(2022,7,27,14,13,10)
d2 = datetime(2023,7,27,12,13,10)
duration = d2 - d1
print(duration)
print(type(duration))

364 days, 22:00:00
<class 'datetime.timedelta'>

As you can see, the duration is returned as the number of days for the date and seconds for the time between the dates. So for your<br> features you can also retrieve those values separately:

In [188]:
print('Duration:', duration)
print('Days:', duration.days) # 365
print('Seconds:' ,duration.seconds) # 3600
type(duration.days)

Duration: 364 days, 22:00:00
Days: 364
Seconds: 79200

int

But what if you actually need the duration in hours or minutes? Well, there is a simple solution for that.

```timedelta``` is also a class in the ```datetime``` module. So, you can use it to convert your duration into hours and minutes as<br> the following code shows:

In [187]:
# duration in hours
print('Duration in hours :', duration / timedelta(hours = 1))

# duration in minutes
print('Duration in minutes :', duration / timedelta(minutes = 1))

# duration in seconds
print('Duration in seconds :', duration / timedelta(seconds = 1))

Duration in hours : 8758.0
Duration in minutes : 525480.0
Duration in seconds : 31528800.0

```timedelta``` also makes it possible to add and subtract integers from a ```datetime``` object.

In [192]:
from dateutil.relativedelta import relativedelta

# Create datetime variable for current date…
d1 = datetime.now().date()
print("Today's date :",d1)

# …and add two days…
d2 = d1+timedelta(days=2)
print("Date 2 days from today :",d2)

# …or add two weeks.
d3 = d1+timedelta(weeks=2)
print("Date 2 weeks from today :",d3)

d4 = d1+relativedelta(years=1)
print("1 year after  :",d4)

Today's date : 2025-08-28
Date 2 days from today : 2025-08-30
Date 2 weeks from today : 2025-09-11
1 year after  : 2026-08-28

### **Datetime in Pandas**

```timedelta``` also makes it possible to add and subtract integers from a ```datetime``` object.

We already know that pandas is a great library for doing data analysis tasks. And so it goes without saying that pandas also supports Python<br> DateTime objects. It has some great methods for handling dates and times, such as ```to_datetime()``` and ```to_timedelta()```.

In [206]:
# Define a date using .to_datetime()
date = pd.to_datetime('27th of July, 2023')
print(date)
print(type(date))

2023-07-27 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

You might have noticed something strange here. The type of the object returned by ```.to_datetime()``` is not DateTime but Timestamp.<br> Well, don’t worry, it is just the pandas equivalent of Python’s DateTime.

We already know that timedelta gives differences in times. The pandas ```.to_timedelta()``` method does the same:

In [207]:
# Define and print a variable with the current date and time…
date = datetime.now()
print(date)

# …and print the date of tomorrow…
print(date + pd.to_timedelta(1, unit = 'D'))

# …and next week.
print(date + pd.to_timedelta(1, unit = 'W'))

2025-08-28 22:01:21.355032
2025-08-29 22:01:21.355032
2025-09-04 22:01:21.355032

### **Date range in Pandas**

To make the creation of date sequences a convenient task, pandas provides the ```.date_range()``` method. It accepts a start date, an end date,<br> and an optional frequency code:

In [208]:
# Create a range of dates for 1 month
pd.date_range(start='27/6/2023', end='27/7/2023', freq='D')

DatetimeIndex(['2023-06-27', '2023-06-28', '2023-06-29', '2023-06-30',
               '2023-07-01', '2023-07-02', '2023-07-03', '2023-07-04',
               '2023-07-05', '2023-07-06', '2023-07-07', '2023-07-08',
               '2023-07-09', '2023-07-10', '2023-07-11', '2023-07-12',
               '2023-07-13', '2023-07-14', '2023-07-15', '2023-07-16',
               '2023-07-17', '2023-07-18', '2023-07-19', '2023-07-20',
               '2023-07-21', '2023-07-22', '2023-07-23', '2023-07-24',
               '2023-07-25', '2023-07-26', '2023-07-27'],
              dtype='datetime64[ns]', freq='D')

Instead of defining the end date, you could also define the period or number of time periods you want to generate: See here for a<br> list of [frequency aliases](https://pandas.pydata.org/docs/user_guide/timeseries.html#timeseries-offset-aliases).

In [209]:
# Define variable with date of today…
start_date = datetime.today()

# …and create sequence with consecutive minutes…  
dates_start = pd.date_range(start=start_date, periods=10, freq='T')
dates_start

C:\Users\sruth\AppData\Local\Temp\ipykernel_11020\294264635.py:5: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  dates_start = pd.date_range(start=start_date, periods=10, freq='T')

DatetimeIndex(['2025-08-28 22:01:29.362042', '2025-08-28 22:02:29.362042',
               '2025-08-28 22:03:29.362042', '2025-08-28 22:04:29.362042',
               '2025-08-28 22:05:29.362042', '2025-08-28 22:06:29.362042',
               '2025-08-28 22:07:29.362042', '2025-08-28 22:08:29.362042',
               '2025-08-28 22:09:29.362042', '2025-08-28 22:10:29.362042'],
              dtype='datetime64[ns]', freq='min')

In [210]:
# …or consecutive days. 
dates_end = pd.date_range(start=start_date, periods=10, freq='D')
dates_end

DatetimeIndex(['2025-08-28 22:01:29.362042', '2025-08-29 22:01:29.362042',
               '2025-08-30 22:01:29.362042', '2025-08-31 22:01:29.362042',
               '2025-09-01 22:01:29.362042', '2025-09-02 22:01:29.362042',
               '2025-09-03 22:01:29.362042', '2025-09-04 22:01:29.362042',
               '2025-09-05 22:01:29.362042', '2025-09-06 22:01:29.362042'],
              dtype='datetime64[ns]', freq='D')

Let's have a look at how to create new features out of ```datetime/timestamp``` columns in a pandas DataFrame. Therefore, we will create<br> a little DataFrame which contains the ```start_date``` and ```end_date``` (see cells above) as features and a target column with three<br> different classes.

In [211]:
# Create target column with random classes (1, 2, 3 or 4)
import random
randomList = []
for i in range(10):
    randomList.append(random.randint(1,3))

# Create DataFrame out of previously defined variables
df = pd.DataFrame()
df['Start_date'] = dates_start
df['End_date'] = dates_end
df['Target'] = randomList

# Show first 5 rows 
df.head()

                  Start_date                   End_date  Target
0 2025-08-28 22:01:29.362042 2025-08-28 22:01:29.362042       3
1 2025-08-28 22:02:29.362042 2025-08-29 22:01:29.362042       1
2 2025-08-28 22:03:29.362042 2025-08-30 22:01:29.362042       1
3 2025-08-28 22:04:29.362042 2025-08-31 22:01:29.362042       1
4 2025-08-28 22:05:29.362042 2025-09-01 22:01:29.362042       3

In [212]:
# The elements in the date columns are still timestamps 
print(df.Start_date[0])
print(type(df.Start_date[0]))

2025-08-28 22:01:29.362042
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

We can create multiple new features from the date column, like the day, month, year, hour, minute, etc. using the ```dt``` attribute. For<br> example, let's create a new column containing the information about the day of our ```end_date``` column.

In [213]:
# Create new column with day of end_date column
df['Day_of_end_date'] = df['End_date'].dt.day
df.head(10)

,Start_date,End_date,Target,Day_of_end_date
0,2025-08-28 22:01:29.362042,2025-08-28 22:01:29.362042,3,28
1,2025-08-28 22:02:29.362042,2025-08-29 22:01:29.362042,1,29
2,2025-08-28 22:03:29.362042,2025-08-30 22:01:29.362042,1,30
3,2025-08-28 22:04:29.362042,2025-08-31 22:01:29.362042,1,31
4,2025-08-28 22:05:29.362042,2025-09-01 22:01:29.362042,3,1
5,2025-08-28 22:06:29.362042,2025-09-02 22:01:29.362042,3,2
6,2025-08-28 22:07:29.362042,2025-09-03 22:01:29.362042,1,3
7,2025-08-28 22:08:29.362042,2025-09-04 22:01:29.362042,3,4
8,2025-08-28 22:09:29.362042,2025-09-05 22:01:29.362042,2,5
9,2025-08-28 22:10:29.362042,2025-09-06 22:01:29.362042,1,6

In [214]:
# Create new column for year of start_date column
df['Year_of_start_date'] = df['Start_date'].dt.year
df.head()

,Start_date,End_date,Target,Day_of_end_date,Year_of_start_date
0,2025-08-28 22:01:29.362042,2025-08-28 22:01:29.362042,3,28,2025
1,2025-08-28 22:02:29.362042,2025-08-29 22:01:29.362042,1,29,2025
2,2025-08-28 22:03:29.362042,2025-08-30 22:01:29.362042,1,30,2025
3,2025-08-28 22:04:29.362042,2025-08-31 22:01:29.362042,1,31,2025
4,2025-08-28 22:05:29.362042,2025-09-01 22:01:29.362042,3,1,2025

## Check your understanding!

1. Write a Python script to display the various Date Time formats -
-  Current date and time
-  Current year
-  Month of year
- Week number of the year
- Weekday of the week
- Day of year
- Day of the month
- Day of week

In [230]:
# Time formats -
# -  Current date and time
# -  Current year
# -  Month of year
# - Week number of the year
# - Weekday of the week
# - Day of year
# - Day of the month
# - Day of week

d1 = datetime.today()
print('Current date and time: ',d1)

# …or year.
print('Year: ', d1.year)

# …or month…
print('Month: ', d1.month)

# Get ISO week number
print(d1.isocalendar().week)

# …and print the weekday where Monday is 0…
print(d1.weekday()) # outputs e.g. 3 for Thursday

# …or where Monday is 1.
print(d1.isoweekday()) # outputs 4 in ISO format

# …and convert it into a string.
print("Day of year",d1.strftime('%j'))
print("Day of the month",d1.strftime('%d'))
print("Day of week",d1.strftime('%A'))

Current date and time:  2025-08-28 23:17:12.891169
Year:  2025
Month:  8
35
3
4
Day of year 240
Day of the month 28
Day of week Thursday

2. Write a Python program to determine whether a given year is a leap year.

In [123]:
def is_leap_year(year):
    if (year % 4 == 0) and (year % 100 != 0 or year % 400 == 0):   #A year is a leap year if:It is divisible by 4 and Not divisible by 100 unless also divisible by 400
        return True
    else:
        return False

# Example usage
year = int(input("Enter a year: "))

if is_leap_year(year):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

2025 is not a leap year.

3. Write a Python program to convert a string to datetime.
- Sample String : ```Jul 1 2014 2:43 PM```
- Expected Output : ```2014-07-01 14:43:00```

In [124]:
# Your input string
date = 'Jul 1 2014 2:43 PM'

# Correct format string
d1 = datetime.strptime(date, '%b %d %Y %I:%M %p')

print(d1)
print(type(d1))

2014-07-01 14:43:00
<class 'datetime.datetime'>

4. Write a Python program to subtract five days from the current date.<br>
Sample Date :
- Current Date : 2015-06-22
- 5 days before Current Date : 2015-06-17

In [27]:
current_date = datetime.strptime('2015-06-22', '%Y-%m-%d')

# Subtract 5 days
new_date = current_date - timedelta(days=5)

print(new_date)

2015-06-17 00:00:00

5. Write a Python program to convert a Unix timestamp string to a readable date.
- Sample Unix timestamp string : ```1284105682```
- Expected Output : ```2010-09-10 10:01:22```

In [31]:
timestamp_int = int("1284105682")   #The strptime() function is for parsing formatted date/time strings, not raw Unix timestamps.

# Convert to datetime object
readable_date = datetime.fromtimestamp(timestamp_int)
print(readable_date)

2010-09-10 10:01:22

In [231]:
time_5_unix = '1284105682'
time_5_unix_int = int(time_5_unix)      # str to int
 
time_5_pd = pd.to_datetime(time_5_unix_int, unit='s').strftime('%Y-%m-%d %H:%M:%S')
time_5_pd

'2010-09-10 08:01:22'

6. Write a Python program to print yesterday, today, tomorrow.

In [32]:
# Create datetime variable for current date…
d1 = datetime.now().date()
print("Today's date :",d1)

# …and add two days…
d2 = d1-timedelta(days=1)
print("yesterday :",d2)

# …or add two weeks.
d3 = d1+timedelta(days=1)
print("tomorrow :",d3)

Today's date : 2025-08-28
yesterday : 2025-08-27
tomorrow : 2025-08-29

### Understanding this concept from a dataset

At the end of this notebook we will have a quick look at a real dataset with weather information for the city of Seattle. You<br> will see that the first column contains information about the date of the measurements. While importing the dataset this column is<br> loaded as a object/string type column and we want to convert it before we start our analysis.

In [239]:
# Loading the dataset
import pandas as pd
import numpy as np
df = pd.read_csv(r'C:\Users\sruth\Documents\Greenbootcamps\DS_Python_advanced\data\seattle-weather.csv')

In [240]:

# Check if the data is loaded correctly
df.head()

         date  precipitation  temp_max  temp_min  wind  weather
0  2012/01/01            0.0      12.8       5.0   4.7  drizzle
1  2012/01/02           10.9      10.6       2.8   4.5     rain
2  2012/01/03            0.8      11.7       7.2   2.3     rain
3  2012/01/04           20.3      12.2       5.6   4.7     rain
4  2012/01/05            1.3       8.9       2.8   6.1     rain

In [241]:
# Check column types 
print(df.dtypes)

date              object
precipitation    float64
temp_max         float64
temp_min         float64
wind             float64
weather           object
dtype: object

From the output of ```df.info()``` and the two print statements above we can see that the date column is loaded as object/string. In<br> order to facilitate working with the date column we can change the type using ```.to_datetime()```:

In [ ]:
# Replace original column with converted one 
df['date'] = pd.to_datetime(df['date'])   #df['date'] = pd.to_datetime(df['date'], format='%y/%m/%d') string to datetime

print(df.date.dtypes)

datetime64[ns]

In [243]:
#see the dataframe again
df.head()

        date  precipitation  temp_max  temp_min  wind  weather
0 2012-01-01            0.0      12.8       5.0   4.7  drizzle
1 2012-01-02           10.9      10.6       2.8   4.5     rain
2 2012-01-03            0.8      11.7       7.2   2.3     rain
3 2012-01-04           20.3      12.2       5.6   4.7     rain
4 2012-01-05            1.3       8.9       2.8   6.1     rain

In [244]:
# check the info of the data
print(df.dtypes)
print(df.date.dtypes)

date             datetime64[ns]
precipitation           float64
temp_max                float64
temp_min                float64
wind                    float64
weather                  object
dtype: object
datetime64[ns]


And now the date column is correctly defined as ```datetime```.

### Summary:


From this session, you have learnt that, in addition to strings, floats and integers, there is another data type specific to dates<br> and time (datetime). If you are dealing with time-dependent data, it is worth to convert them into the correct datetime<br> format. This ensures that

- it's easy to choose the desired format of the date (e.g. YY-MM-DD)
- durations are calculated correctly
- durations can be displayed in different time units easily (e.g. in hours or days)
- additional features can be easily created (e.g. what day of the week it is)

In [ ]:
df['formatted_date'] = df['date'].dt.strftime('%y/%m/%d')            #date to string
df.head()

        date  precipitation  temp_max  temp_min  wind  weather formatted_date
0 2012-01-01            0.0      12.8       5.0   4.7  drizzle       12/01/01
1 2012-01-02           10.9      10.6       2.8   4.5     rain       12/01/02
2 2012-01-03            0.8      11.7       7.2   2.3     rain       12/01/03
3 2012-01-04           20.3      12.2       5.6   4.7     rain       12/01/04
4 2012-01-05            1.3       8.9       2.8   6.1     rain       12/01/05

In [223]:
print(df.dtypes)

date              datetime64[ns]
precipitation            float64
temp_max                 float64
temp_min                 float64
wind                     float64
weather                   object
formatted_date            object
dtype: object

In [248]:
duration = df['date'].max() - df['date'].min()
print(duration)

1460 days 00:00:00

In [249]:
# # duration in hours
print('Duration in hours :', duration / timedelta(hours = 1))

# # duration in minutes
print('Duration in minutes :', duration / timedelta(minutes = 1))

# # duration in seconds
print('Duration in seconds :', duration / timedelta(seconds = 1))

Duration in hours : 35040.0
Duration in minutes : 2102400.0
Duration in seconds : 126144000.0

In [250]:
df['day_of_week'] = df['date'].dt.day_name()  
print(df['day_of_week'])
df['month'] = df['date'].dt.month_name()   
print(df['month'])
df['year'] = df['date'].dt.year 
print(df['year']) 
df

0          Sunday
1          Monday
2         Tuesday
3       Wednesday
4        Thursday
          ...
1456       Sunday
1457       Monday
1458      Tuesday
1459    Wednesday
1460     Thursday
Name: day_of_week, Length: 1461, dtype: object
0        January
1        January
2        January
3        January
4        January
          ...
1456    December
1457    December
1458    December
1459    December
1460    December
Name: month, Length: 1461, dtype: object
0       2012
1       2012
2       2012
3       2012
4       2012
        ...
1456    2015
1457    2015
1458    2015
1459    2015
1460    2015
Name: year, Length: 1461, dtype: int32

,date,precipitation,temp_max,temp_min,wind,weather,day_of_week,month,year
0,2012-01-01,0.0,12.8,5.0,4.7,drizzle,Sunday,January,2012
1,2012-01-02,10.9,10.6,2.8,4.5,rain,Monday,January,2012
2,2012-01-03,0.8,11.7,7.2,2.3,rain,Tuesday,January,2012
3,2012-01-04,20.3,12.2,5.6,4.7,rain,Wednesday,January,2012
4,2012-01-05,1.3,8.9,2.8,6.1,rain,Thursday,January,2012
...,...,...,...,...,...,...,...,...,...
1456,2015-12-27,8.6,4.4,1.7,2.9,fog,Sunday,December,2015
1457,2015-12-28,1.5,5.0,1.7,1.3,fog,Monday,December,2015
1458,2015-12-29,0.0,7.2,0.6,2.6,fog,Tuesday,December,2015
1459,2015-12-30,0.0,5.6,-1.0,3.4,sun,Wednesday,December,2015
1460,2015-12-31,0.0,5.6,-2.1,3.5,sun,Thursday,December,2015

In [125]:
print(df.dtypes)

date              datetime64[ns]
precipitation            float64
temp_max                 float64
temp_min                 float64
wind                     float64
weather                   object
formatted_date            object
day_of_week               object
month                     object
year                       int32
dtype: object